node_modules/
dist/
.env
*.log
uploads/*
!uploads/.gitkeep
android/app/build/
android/.gradle/
android/build/
android/captures/
android/local.properties
*.apk
*.aab
*.keystore
*.jks
.DS_Store
Thumbs.db
node/
.idea/
*.msi
*.zip
test_*.js
frontend/android/app/src/main/assets/
backend/uploads/
